@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

.success {
  border: 1px solid #00b52a;
  background-color: #00b52a;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.danger {
  border: 1px solid #c9412c;
  background-color: #c9412c;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 15px 40px;
  height: 10vh;
  border-radius: 10px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b85), to(#20257a));
  background-image: linear-gradient(to right, #262b85, #20257a);
  -webkit-box-shadow: 0px 10px 19px -2px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 10px 19px -2px rgba(0, 0, 0, 0.59);
  min-width: 900px;
  max-width: 1200px;
}

header div.login-signup-logout ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.login-signup-logout ul li {
  font-size: 1.2rem;
  letter-spacing: 2px;
  cursor: pointer;
}

header div.login-signup-logout ul li:nth-child(2) {
  margin-left: 15px;
}

div.app-container div.topic-container {
  width: 225px;
  height: 75vh;
  margin-top: 40px;
  border-radius: 10px;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 4px 19px -2px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 19px -2px rgba(0, 0, 0, 0.28);
}

div.app-container div.topic-container .tc-heading {
  padding: 15px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b85), to(#20257a));
  background-image: linear-gradient(to right, #262b85, #20257a);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

div.app-container div.topic-container .tc-heading h2 {
  text-align: center;
  color: #fff;
}

div.app-container div.login-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #32323285;
}

div.app-container div.login-form form {
  margin-bottom: 50px;
  width: 350px;
  padding: 85px 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #f4f4f4;
  position: relative;
}

div.app-container div.login-form form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #414141;
}

div.app-container div.login-form form div.email,
div.app-container div.login-form form div.remember-me-cb {
  margin-bottom: 20px;
}

div.app-container div.login-form form div.password {
  margin-bottom: 25px;
}

div.app-container div.login-form form div.email,
div.app-container div.login-form form div.password {
  height: 40px;
  border-bottom: 1px solid #717171;
}

div.app-container div.login-form form div.email input,
div.app-container div.login-form form div.password input {
  border: 0;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 1rem;
  outline: none;
  background-color: #f4f4f4;
}

div.app-container div.login-form form div.remember-me-cb label {
  font-size: .9rem;
}

div.app-container div.login-form form div.remember-me-cb input[type=checkbox] {
  vertical-align: middle;
}

div.app-container div.login-form form button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b85), to(#20257a));
  background-image: linear-gradient(to right, #262b85, #20257a);
  border: 0;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}

div.app-container div.login-form form p {
  text-align: center;
  margin-top: 20px;
  color: #414141;
  font-size: .8rem;
}

div.app-container div.login-form form p span {
  text-decoration: underline;
  color: #20257a;
  cursor: pointer;
}

div.app-container div.login-form form p.login-copyright-info {
  position: absolute;
  bottom: 0;
  margin: 0 0 20px 35px;
  color: #5c5c5c;
}

div.app-container div.signup-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #32323285;
}

div.app-container div.signup-form form {
  position: relative;
  margin-bottom: 50px;
  width: 350px;
  padding: 85px 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #f4f4f4;
}

div.app-container div.signup-form form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #414141;
}

div.app-container div.signup-form form div.name,
div.app-container div.signup-form form div.email,
div.app-container div.signup-form form div.remember-me-cb {
  margin-bottom: 20px;
}

div.app-container div.signup-form form div.password {
  margin-bottom: 25px;
}

div.app-container div.signup-form form div.name,
div.app-container div.signup-form form div.email,
div.app-container div.signup-form form div.password {
  height: 40px;
  border-bottom: 1px solid #717171;
}

div.app-container div.signup-form form div.name input,
div.app-container div.signup-form form div.email input,
div.app-container div.signup-form form div.password input {
  border: 0;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 1rem;
  outline: none;
  background-color: #f4f4f4;
}

div.app-container div.signup-form form div.remember-me-cb label {
  font-size: .9rem;
}

div.app-container div.signup-form form div.remember-me-cb input[type=checkbox] {
  vertical-align: middle;
}

div.app-container div.signup-form form button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#262b85), to(#20257a));
  background-image: linear-gradient(to right, #262b85, #20257a);
  border: 0;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}

div.app-container div.signup-form form p {
  text-align: center;
  margin-top: 20px;
  color: #414141;
  font-size: .8rem;
}

div.app-container div.signup-form form p span {
  text-decoration: underline;
  color: #20257a;
  cursor: pointer;
}

div.app-container div.signup-form form p.signup-copyright-info {
  position: absolute;
  bottom: 0;
  margin: 0 0 20px 35px;
  color: #5c5c5c;
}
/*# sourceMappingURL=style.css.map */